@font-face {
  font-family: 'Roboto Lt';
  src: url('../fonts/3962.ttf')
}
@font-face {
  font-family: 'Roboto Bk';
  src: url('../fonts/3953.ttf')
}
@font-face {
  font-family: 'Roboto ';
  src: url('../fonts/3966.ttf')
}
@font-face {
  font-family: 'HammersmithOne';
  src: url('../fonts/HammersmithOne.ttf')
}
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular')
}

@mixin text{
  font-family: 'Roboto Lt';
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 28px;
}
@mixin textBlack{
  font-family: 'Roboto Lt';
  font-size: 14px;
  text-align:left;
  line-height: 28px;
}
@mixin btnText{
  font-family: 'HammersmithOne';
  font-size: 16px;
  color: #00e0d0;
  background-color: Transparent;
  background-repeat:no-repeat;
  border-color:  #00e0d0;
  width: 160px;
  line-height: 32px;
  letter-spacing: 1px;
  height: 40px;
  margin-bottom: 30px;;
}
@mixin flexRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@mixin margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@mixin padding{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
@mixin head{
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 22px;
  line-height: 44px;
}






body{
@include margin;
}
.header{
  background-image: url('../img/header.jpg');
  max-width: 1600px;
  width: 100%;
  min-height:670px;
  display: flex;
}
   .container-fluid{
     flex-direction: row;
     @include margin;
     @include padding;
   }
   .header-buttons{
   display:inline-flex;
   justify-content: center;
   align-items: center;
   height: 50px;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
   margin-top: 45px;
 }
     .logo{
       display: flex;
       width: 130px;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-left: 200px;
       margin-right: 200px;
     }
     .buttons{
       display: flex;
       align-items:center;
       min-height: 40px;
       width: auto;
       flex-wrap: wrap;
       justify-content: space-around;
       .button-header{
       height: 20px;
       font-size:13px;
       font-family: 'Roboto Bk';
       line-height: 26px;
       text-align: center;
       padding-bottom: 5px;
       align-items: center;
       border:none;
       outline: none;
       color: white;
       margin-left: 5px;
       margin-right: 5px;
       background-color: Transparent;
       background-repeat:no-repeat;
       cursor:pointer;
      :hover{
        color: red;
        transform: scale(1.1);
      }
    }
     }
.header-headline{
  @include flexRow;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  .first-headline{
    color: white;
    font-size: 32px;
    line-height: 64px;
    font-family: 'Playfair Display';
    font-weight: bold;
    text-align: center;
  }
  .header-text{
    @include text;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }
}
.header-new-button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    :hover{
      cursor: pointer;
    }
 .new-button{
   @include btnText;
 }
 :hover{
   cursor: pointer;
 }
}

.header-wrapper {
	justify-content: center;
	position: relative;
	width: auto;
  display: flex;

  align-items: flex-end;
  margin-bottom: 15px;
}
.header-wrapper > input {
	display: none;
}
.header-wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 5px 0 8px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}
.header-wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
 {
	background: #00e0d0;
}
.header-wrapper label:after {
	border: 2px solid #00e0d0;
	content: " ";
	display: block;
	height: 12px;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 12px;
	border-radius: 50%;
}
.our{
  max-width: 1600px;
  width: 100%;
  min-height:400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.our-content{
  margin-left: 70px;
}
.content-headline{
@include head;
}
.content-text{
  @include textBlack;
}
.video{
  max-width: 1600px;
  width: 100%;
  background-image: url('../img/video.jpg');
  min-height: 550px;
  :hover{
    opacity: 1;
    background-image: url('../img/video2.jpg');
    cursor: pointer;
  }
}
.video-hover{
width: 100%;
min-height: 550px;
flex-direction: row;
opacity: 0;
}
.expertise{
  max-width: 1600px;
  width: 100%;
  min-height: 755px;
  display: inline-block;
  text-align: center;
}
.expertise-head{
  justify-content: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}
.expertise-text{
font-family: 'Playfair Display';
font-size: 14px;
text-align: center;
color: #78777b;

}
.expertise-blocks{
@include flexRow;
justify-content: space-around;
}
.blocks-first{
  margin-top: 50px;
  max-height: 400px;
  max-width: 320px;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.blocks-headline{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Roboto Bk';
}
.blocks-text{
  @include textBlack;
  color: #78777b !important;
  text-align: center !important;
}
.team{
  max-width: 1600px;
  width: 100%;
  min-height: 710px;
  background-image: url('../img/forest.jpg');
  color: white !important;
  display: inline-block;
  justify-content: center;
}
.team-head{
margin-top: 50px;
text-align: center;
}
.team-headline{
  @include head;
}
.team-text{
font-family: 'Playfair Display';
font-size: 14px;
line-height: 28px;
}
.team-block{
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.block-name{
  font-family: 'Roboto Bk';
  font-size: 14px;
  text-align:center;
  line-height: 28px;
  margin-top: 15px;
}
.block-profession{
  font-family: 'Roboto Lt';
  font-size: 13px;
  text-align:center;
  line-height: 26px;
}
.block-first{
  max-height: 300px;
  max-width: 260px;
  width: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.team-footer{
  text-align: center;
  margin-top: 50px;
}
.works{
  max-width: 1600px;
  width: 100%;
  min-height: 740px;
}







@media screen and (min-width: 750px) and (max-width: 968px){
  .container-fluid{
    @include margin;
    @include padding;
  }
.logo{
  @include margin;
}
.header-headline{
  margin-top: 50px !important;
}
.header-new-button{
  margin-top: 5px !important;
}
.header-text{
  @include margin;
}
.our{
  @include flexRow;
}
.our-content{
  margin-left: 10px !important;
}
.team-block{
  margin-top: 50px;
}
.team-footer{
  margin-top: 10px !important;
}
}


@media screen and (min-width: 300px) and (max-width: 740px){
  .container-fluid{
    @include margin;
    @include padding;
  }
  .header-text{
    @include margin;
  }
  .logo{
    @include margin;
  }
  .header-headline{
    margin-top: 50px !important;
  }
  .header-new-button{
    margin-top: 5px !important;
  }
  .our{
    @include flexRow;
  }
  .our-content{
    margin-left: 10px !important;
  }
  .team-block{
    margin-top: 50px;
  }
  .team-footer{
    margin-top: 10px !important;
  }
}
