body{
  font-family: sans-serif;
}
hr{
  background-color: #3f6fb6;
  border: 0px;
  height: 10px;
  width: auto;
  margin: 0px;
}
.general{
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: auto;  /*впихиваем по центру*/
  padding: 10px;
  font-size: 15px;  /*общий размер шрифта,если не задается специально*/
  display: block;
}
.first{
  width: 100%;
  max-width: 530px;  /*первая часть по длине*/
  height: auto;
  margin: auto;
  padding: 10px;
  float: left;
}
.second{
  width: 100%;
  max-width: 630px;
  height: auto;
  margin: auto;
  padding: 10px;
  float: left;
}
.name{
  text-align: center;/*располагаем по центру*/
  font-size: 52px;
}
.bbcircle{
  height: 233px;
  width: 233px;
}
.boldsurname{
  font-weight: bold;
  font-size: 63px;
}
.bolddesigner{
  font-size: 25px;
  font-weight: bold;
}
.divmain{
  height: auto;
  width: auto;
}
.icon{
  height: 75px;
  width: 75px;
float: left;
}
.mainspan{
  font-size: 41px;
  color: #3f6fb6;
  width: auto;
  float: left;
}
.bold{
  font-weight: bold;
}
.big{
float: left;
}
.contact{
  color: #3f6fb6;
  font-size: 20px;
  font-weight: bold;
}
.addres{
  font-size: 20px;
}
.creative{
  font-size: 25px;
  text-align: center;
}
.bob{
  height: 18px;
  width: 322px;
}
.bcircle{
  height: 20px;
  width: 20px;
}
.mblue{
  color: #3f6fb6;
  font-size: 25px;
}
.mblack{
  font-size: 25px;
}
.bblack{
  font-size: 25px;
  font-weight: bold;
}
.sleft{
  width: 315px;  /*первая часть по длине*/
  height: auto;
  margin: auto;
  float: left;
}
.sright{
  width: 315px;
  height: auto;
  margin: auto;
  float: left;
}
.stripe{
  width: 216px;
  height: 21px;
}
/* Медиа-запросы */
@media all and (max-width: 700px) {
  body { font-size: 55%;}
