@media screen and (min-width: 750px) and (max-width: 968px){
  .header .servises .about .latest .our .blog .hand .get .footer {
    margin: 0; }
    .logo{
        padding-left: 0;
        padding-right: 0;
    }
    picture{
      margin-left: 0;
      margin-right: 0;;
    }
    Client-Name{
      margin-left: 0;
      margin-right: 0;
    }
    clients-Work {
      margin-left: 0;
      margin-right: 0;
    }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 400px;
    min-width: 150px; }
  .subhead {
    margin-top: 20px;
   }
  .head {
    margin-top: 0px;
  }
  clients-Work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin-left: 10px;
    margin-right: 0; }

  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0; }

  .all-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form-control{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;
    }
    .area{
      display: flex;
      flex-direction: row;
    }
    .textarea{
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .double {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 65px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
  .header-button {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .block-up {
    margin-left: 0;
    margin-right: 0;
  }
  .button-Working {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
  .latest {
    height: auto;
  }
.documents{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.clients{
  margin-left: 0;
  margin-right: 0;
}

.version{
  margin-left: 0;
  margin-right: 0;
}

}



@media screen and (min-width: 300px) and (max-width: 700px){
  .header .servises .about .latest .our .blog .hand .get .footer {
    margin-left: 0;
    margin-right: 0;
  }
    .logo {
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 400px;
    min-width: 150px; }
  .subhead {
    margin-top: 20px;
   }
  .head {
    margin-top: 0px;
  }
  .clients-Work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    margin-left: 10px;
    margin-right: 0; }

  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0; }

  .all-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form-control{
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;
    }
    .area{
      display: flex;
      flex-direction: row;
    }
    .textarea{
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  .forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .double {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 65px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
  .header-button {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .block-up {
    margin-left: 0;
    margin-right: 0;
  }
  .button-Working {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   }
  .latest {
    height: auto;
  }
.logo{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.documents{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.clients{
  margin-left: 0;
  margin-right: 0;
}
.picture{
  margin-left: 0;
  margin-right: 0;;
}
.Client-Name{
  margin-left: 0;
  margin-right: 0;
}
.clients-Work {
  margin-left: 0;
  margin-right: 0;
}
.version{
  margin-left: 0;
  margin-right: 0;
}
.logo {
  padding-left: 0;
  padding-right: 0;
}
}
