@charset 'UTF-8';

$font-size: 14px;
$h1: 20px;
$h2: 16px;
$h3: 13px;
$h4: 18px;
$h5: 24px;
$h6: 12px;

$color: white;

@font-face:{
  font-family: 'Montserrat';
  src: url('../fonts/11951.ttf')
}
@font-face:{
  font-family: 'Montserrat';
  src: url('../fonts/11952.ttf')
}
@font-face:{
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab-regular.ttf')
}

.header{
    background-image: url("../images/home.jpg");
    min-height: 770px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding: 0;
}
.topic{
  width: 100%;
}

.main{
max-width: 1590px;
width: 100%;
position: relative;
padding: 0;
}

.logo{
  display: flex;
  font-size: $h5;
  color: $color;
  font-family: 'Montserrat';
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  margin-top: 10px;
}
.double{
  display:inline-flex;
  justify-content: space-around;
  height: 65px;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 45px;
}
.button-Working{
  display: flex;
  align-items: center;
  min-height: 50px;
  width: auto;
  justify-content: center;
   .button-header{
   height: 20px;
   font-size:$h2;
   font-family: 'Roboto Slab';
   line-height: 40px;
   text-align: center;
   padding-bottom: 40px;
   align-items: center;
   border:none;
   outline: none;
   color: $color;
   margin-left: 15px;
   margin-right: 15px;
   background-color: Transparent;
   background-repeat:no-repeat;
   cursor:pointer;
  :hover{
    color: #c0301c;
    transform: scale(1.1);
  }
}
}

.header-text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  color: $color;
  margin-top: 150px;
  margin-bottom: 150px;
  }
    .headline{
      display: flex;
      justify-content: center;
      font-size: 48px;
    }
    .text{
      font-size: $h1;
      line-height: 40px;
      padding-bottom: 50px;
    }

    .input{
   justify-content: center;
   font-size:$h2;
   background-color: Transparent;
   background-repeat:no-repeat;
   cursor:pointer;
   border:1px solid $color;
   color:$color;
   outline: none;
   line-height: 48px;
   font-family:'Montserrat';
   width: 180px;
   height: 50px;
:hover{
  color: white;
  transform: scale(1.1);
}
:active{
  color:#ec4b0f;
}
    }
.servises{
   min-height: 530px;
   padding: 0;
}

.heading{
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  .designation{
font-size:$h1;
font-weight: bold;
font-family: 'Montserrat';
line-height: 40px;
margin-top: 70px;
margin-bottom: 70px;
  }
  .hr{
    width: 50px;
    border:0;
    color: #555555;
    text-align: center;
  }
  .article{
  font-size:$h2;
  font-family: 'Roboto Slab';
  line-height: 32px;
  text-align: center;
  padding-bottom: 70px;
  }
}

.common{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: $h2;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  .newheadline{
    text-align: center;
  }
}

 .circle{
   border-radius:56px;
   background-color: white;
   width: 56px;
   color:#c0301c;
   height: 56px;
   border: 1px solid #dedede;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   align-self: center;
   font-weight: bold;
   font-family: 'Montserrat';
   :hover{
     background-color: #c0301c;
     color:$color;
     border-radius:56px;
     transform: scale(1.1);
     transition: all 1s ease-in-out;
   }
 }

 .depiction {
   position:relative;
    margin:0 auto;
    min-height: 30px;
    width:30px;
    display: block;
    border-radius: 56px;
   :hover  img.first {
     opacity:1;
   :hover  img.second,  img.second:hover {
     opacity:0;
   }
 }
 img{
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}
}
.pin_key{
display: flex;
align-items: center;
height: 56px;
width: 56px;
}

.pin{
 height: 56px;
 width: 56px;
 border-radius: 30px;
 border: 1px solid #dedede;
 background-color: $color;
 display: flex;
 align-items: center;
:hover{
  background-color: #c0301c;
  border-radius: 30px;
}
}
.version{
display: flex;
justify-content: space-around;
flex-direction: row;
font-size: $font-size;
line-height: 28px;
padding-top: 25px;
padding-bottom: 100px;

.section{
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 28px;
  font-family: 'Roboto Slab';
}
}

.about{
  min-height:900px;
  background-color: #f8f8f8;
  padding: 0;
}
.documents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  .document{
    font-size:$font-size;
    font-family: 'Roboto Slab';
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.clients{
  display: flex;
  justify-content: space-around;

.client{
  max-width: 230px;
  max-height: 240px;
  overflow: hidden;
  position: relative;
}
}

.client .badge  {
 max-width: 230px;
 min-height: 240px;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0
}
.client img {
  display: block;
  position: relative;
  :hover{
    opacity: 0.5;
  }
}

.view-first  {
 color:  #7b7a7e;
 :hover{
   background-color: #7b7a7e;
 }
}
.view-first .badge {
 opacity: 0;
 background-color: #6e6b6b;
 transition: all 0.4s ease-in-out;
:hover  {
 opacity: 0.5;
}

.badge{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  max-width: 160px;
  max-height: 40px;
}

.catchword{
  width: 40px;
  height: 40px;
  :hover{
    background-color: #c0301c;
  }
}
.keyword{
  width: 15px;
  height: 20px;
}
.paper{
display: flex;
justify-content: center;
align-items: center;
height: 30px;
width: 30px;
}
}
.Client-Name{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: $font-size;
  font-family: 'Montserrat';
  line-height: 28px;
  text-align: center;
  align-items: center;
  font-weight: normal;
}
  .clients-Work{
    text-align: center;
    font-size: $h3;
    font-family: 'Roboto Slab';
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    line-height: 28px;
    margin-left: 10px;
  }

 .latest{
   width: 100%;
   height: 1380px;
   padding: 0;
 }
 .head{
   display: flex;
   justify-content: center;
   text-align: center;
   align-content: center;
   .subhead{
 font-size:$h1;
 font-weight: bold;
 font-family: 'Montserrat';
 line-height: 40px;
 margin-top: 100px;
 margin-bottom: 70px;
 justify-content: center;
 text-align: center;
align-content: center;
}}
.button-Working{
  display: flex;
  align-items: center;
  max-height: 100px;
  width: auto;
   .button-Work{
   height: 20px;
   font-size:$h2;
   font-family: 'Roboto Slab';
   line-height: 40px;
   text-align: center;
   padding-bottom: 70px;
   align-items: center;
   border:none;
   outline: none;
   color: #555555;
   margin-left: 15px;
   margin-right: 15px;
   background-color: Transparent;
   background-repeat:no-repeat;
   cursor:pointer;
  :hover{
    color: #c0301c;
    transform: scale(1.1);
  }
}
}
.central{
display: flex;
justify-content:space-around;
flex-wrap: wrap;
align-items: center;
}
.effect {
  position: relative;
  max-width: 320px;
  min-height: 280px;
  overflow: hidden;
  margin: 10px;
  &:hover {
    .caption {
     top: 0px;
   }
  }
  img {
    width: 100%;
    height: 100%;
  }
  .caption {
    position: absolute;
    top: -100%;
    left: 0px;
    background:#c8675d;
    width: 100%;
    height: 100%;
    color: $color;
    opacity: 0.8;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
     h4 {
      font-size:$h4;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Montserrat';
      padding-bottom: 20px;
      margin-top: 20px;
      line-height: 36px;
    }
    p {
      margin: 15px 0px;
      text-align: center;
      padding: 0px 10px;
      font-family: 'Roboto Slab';
      font-size: $h6;
      line-height: 25px;
    }

  a.btn {
    width: 120px;
    text-align: center;
    display: block;
    background: $color;
    padding: 10px 0px;
    color: #c8675d;
    border-radius: 5px;
    margin: 0px auto 0px auto;
    font-family: 'Roboto Slab';
    font-size: $font-size;
    line-height: 28px;
  }
  .btn:hover{
    transform: scale(1.1);
    color: red;
  }
}
}

.picture{
  max-width: 1020px;
  width: 100%;
  display: flex;
  flex-direction: row;

}
.our{
  height: 370px;
  padding: 0;
  width: 100%;
}

.result {
  position: relative;
  max-height: 370px;
  overflow: hidden;
  margin: 0px;
 img {
  width: 100%;
  height: 100%;
}
 .sub {
   position: absolute;
   top: -100%;
   left: 0px;
   background:#c8675d;
   width: 100%;
   height: 100%;
   color: $color;
   opacity: 0.8;
   -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
   -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
   -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
   -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
   transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;

 h6 {
  font-size:30px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Slab';
  margin-top: 50px;
  margin-bottom: 25px;
  color: $color;
}
h4 {
 font-size:30px;
 text-transform: uppercase;
 text-align: center;
 font-family: 'Roboto Slab';
 margin-bottom: 50px;
 color: $color;
}
 a.input {
  width: 180px;
  text-align: center;
  display: block;
  background-color: Transparent;
  padding: 10px 0px;
  color: $color;
  border-radius: 5px;
  margin: 0px auto 0px auto;
  font-family: 'Roboto Slab';
  font-size: $font-size;
  line-height: 28px;
  border: $color solid 2px;
}
}
}
.result:hover .sub {
  top: 0px;
}

.snap:hover{
  transform: scale(1.1);
}

.blog{
  min-height: 1080px;
  padding: 0;
  width: 100%;
}
.block-up{
  display: flex;
  justify-content: space-around;
}
.tables{
  background-image: url("../images/table.jpg");
  height: 320px;
  width: 460px;
}
.idea{
   min-height: 90px;
}

.ideas{
  font-family: 'Montserrat';
  font-size: $h2;
  color: #c0301c;
  line-height: 32px;
}
.head-two{
  display: flex;
  font-family: 'Roboto Slab';
  flex-wrap: wrap;
  margin-bottom: 40px;
  min-height: 320px;
  margin-left: 20px;
}
.rubric{
  font-family: 'Roboto Slab';
  font-size: $h3;
  font-style: italic;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 20px;
  .red{
    color:  #c0301c;
  }
}
.indent{
    font-size: $font-size;
    font-family: 'Roboto Slab';
    max-width: 640px;
    padding-bottom: 20px;
}
.oct{
  margin-right: 15px;
  width: 76px;
  height: 76px;
}
.idea-Head{
  display: flex;
  justify-content: space-between;
}
.again{
  display: flex;
  justify-content: flex-start;
  margin: 1px;
  padding-bottom: 20px;
}
.interface{
  background-image: url("../images/interface.jpg");
  height: 320px;
  width: 460px;
}
.ideas-two{
  font-family: 'Montserrat';
  font-size: $h2;
  color: #555555;
  line-height: 32px;
}

.hand{
  padding: 0;
  min-height: 470px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.indenture{
  margin-top: 100px;
}
.figure{
margin-top: 50px;
}
.facere{
    font-size: $h4;
    font-family: 'Roboto Slab';
    font-style: italic;
    line-height: 36px;
}
.john{
    font-family: 'Roboto Slab';
    font-size: $h1;
    line-height: 40px;
}
.my_circle{
  border:0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #dddddd;
  margin: 3px;
}
.circles{
  display: flex;
  justify-content: center;

}
.my_circle_red{
  border:0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #c0301c;
  margin: 3px;
}

.get{
  min-height: 665px;
  padding: 0;
  width: 100%;
}
.all-adress{
display: flex;
justify-content: space-around;
}

.address{
  flex-direction: column;
  font-size: $font-size;
  line-height: 28px;
  font-weight: bold;
}
.number{
  font-family: 'Roboto Slab';
  font-size: $h6;
  line-height: 24px;
}
.form-control{
  margin: 10px;
  font-size: $h6;
  line-height: 24px;
  font-family: 'Roboto Slab';
  padding-left: 5px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 5px;
  border-radius: 0;
  outline: none !important;
  :focus{
      border-color:red;
      box-shadow: 1px 1px 3px red;
  }
}
.form-row{
  margin: 0;
}
.col{
  padding: 0;
  outline: none !important;
  :focus{
    border-color:red;
    box-shadow: 1px 1px 3px red;
}
}
.btn .next{
  background-color: $color;
  border: 1px solid black;
  background-color: Transparent;
  :hover{
    color:green;
  }
}
.adds{
}
.forms{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 480px;
  padding:0;
}
.area{
  display: flex;
  flex-direction: row;
  max-width: 480px;
  min-width: 200px;
  line-height: 24px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 0;
  font-size: $h6;
  line-height: 24px;
  font-family: 'Roboto Slab';
  outline: none !important;
  :focus{
    border-color:red;
    box-shadow: 1px 1px 3px red;
}
}
.textarea{
  margin: 10px;
  height: 70px;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 0;
}

.footer{
  min-height: 310px;
  padding: 0;
  background-color: #c0301c;
  width: 100%;
}
.bird{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.docket{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: $color;
  font-size: $h6;
}
.birds{
  margin-left: 5px;
  margin-right: 5px;
}
