@font-face : {
  font-family: 'Montserrat';
  src: url("../fonts/11951.ttf"); }

@font-face : {
  font-family: 'Montserrat';
  src: url("../fonts/11952.ttf"); }

@font-face : {
  font-family: 'Roboto Slab';
  src: url("../fonts/roboto-slab-regular.ttf"); }

.header {
  background-image: url("../images/home.jpg");
  min-height: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }

.topic {
  width: 100%; }

.main {
  max-width: 1590px;
  width: 100%;
  position: relative;
  padding: 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: auto;
  margin-top: 10px; }

.double {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 45px; }

.button-Working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  width: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .button-Working .button-header {
    height: 20px;
    font-size: 16px;
    font-family: 'Roboto Slab';
    line-height: 40px;
    text-align: center;
    padding-bottom: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer; }
    .button-Working .button-header :hover {
      color: #c0301c;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: white;
  margin-top: 150px;
  margin-bottom: 150px; }

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 48px; }

.text {
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 50px; }

.input {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  outline: none;
  line-height: 48px;
  font-family: 'Montserrat';
  width: 180px;
  height: 50px; }
  .input :hover {
    color: white;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .input :active {
    color: #ec4b0f; }

.servises {
  min-height: 530px;
  padding: 0; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .heading .designation {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    line-height: 40px;
    margin-top: 70px;
    margin-bottom: 70px; }
  .heading .hr {
    width: 50px;
    border: 0;
    color: #555555;
    text-align: center; }
  .heading .article {
    font-size: 16px;
    font-family: 'Roboto Slab';
    line-height: 32px;
    text-align: center;
    padding-bottom: 70px; }

.common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: bold;
  line-height: 32px;
  text-align: center; }
  .common .newheadline {
    text-align: center; }

.circle {
  border-radius: 56px;
  background-color: white;
  width: 56px;
  color: #c0301c;
  height: 56px;
  border: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  font-family: 'Montserrat'; }
  .circle :hover {
    background-color: #c0301c;
    color: white;
    border-radius: 56px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

.depiction {
  position: relative;
  margin: 0 auto;
  min-height: 30px;
  width: 30px;
  display: block;
  border-radius: 56px; }
  .depiction :hover img.first {
    opacity: 1; }
    .depiction :hover img.first :hover img.second, .depiction :hover img.first img.second:hover {
      opacity: 0; }
  .depiction img {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

.pin_key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  width: 56px; }

.pin {
  height: 56px;
  width: 56px;
  border-radius: 30px;
  border: 1px solid #dedede;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pin :hover {
    background-color: #c0301c;
    border-radius: 30px; }

.version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  line-height: 28px;
  padding-top: 25px;
  padding-bottom: 100px; }
  .version .section {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 28px;
    font-family: 'Roboto Slab'; }

.about {
  min-height: 900px;
  background-color: #f8f8f8;
  padding: 0; }

.documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px; }
  .documents .document {
    font-size: 14px;
    font-family: 'Roboto Slab';
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px; }

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .clients .client {
    max-width: 230px;
    max-height: 240px;
    overflow: hidden;
    position: relative; }

.client .badge {
  max-width: 230px;
  min-height: 240px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.client img {
  display: block;
  position: relative; }
  .client img :hover {
    opacity: 0.5; }

.view-first {
  color: #7b7a7e; }
  .view-first :hover {
    background-color: #7b7a7e; }

.view-first .badge {
  opacity: 0;
  background-color: #6e6b6b;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .view-first .badge :hover {
    opacity: 0.5; }
  .view-first .badge .badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    max-width: 160px;
    max-height: 40px; }
  .view-first .badge .catchword {
    width: 40px;
    height: 40px; }
    .view-first .badge .catchword :hover {
      background-color: #c0301c; }
  .view-first .badge .keyword {
    width: 15px;
    height: 20px; }
  .view-first .badge .paper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 30px; }

.Client-Name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Montserrat';
  line-height: 28px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: normal; }

.clients-Work {
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto Slab';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  line-height: 28px;
  margin-left: 10px; }

.latest {
  width: 100%;
  height: 1380px;
  padding: 0; }

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  .head .subhead {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    line-height: 40px;
    margin-top: 100px;
    margin-bottom: 70px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center; }

.button-Working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 100px;
  width: auto; }
  .button-Working .button-Work {
    height: 20px;
    font-size: 16px;
    font-family: 'Roboto Slab';
    line-height: 40px;
    text-align: center;
    padding-bottom: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    outline: none;
    color: #555555;
    margin-left: 15px;
    margin-right: 15px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer; }
    .button-Working .button-Work :hover {
      color: #c0301c;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.central {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.effect {
  position: relative;
  max-width: 320px;
  min-height: 280px;
  overflow: hidden;
  margin: 10px; }
  .effect:hover .caption {
    top: 0px; }
  .effect img {
    width: 100%;
    height: 100%; }
  .effect .caption {
    position: absolute;
    top: -100%;
    left: 0px;
    background: #c8675d;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0.8;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; }
    .effect .caption h4 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Montserrat';
      padding-bottom: 20px;
      margin-top: 20px;
      line-height: 36px; }
    .effect .caption p {
      margin: 15px 0px;
      text-align: center;
      padding: 0px 10px;
      font-family: 'Roboto Slab';
      font-size: 12px;
      line-height: 25px; }
    .effect .caption a.btn {
      width: 120px;
      text-align: center;
      display: block;
      background: white;
      padding: 10px 0px;
      color: #c8675d;
      border-radius: 5px;
      margin: 0px auto 0px auto;
      font-family: 'Roboto Slab';
      font-size: 14px;
      line-height: 28px; }
    .effect .caption .btn:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      color: red; }

.picture {
  max-width: 1020px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.our {
  height: 370px;
  padding: 0;
  width: 100%; }

.result {
  position: relative;
  max-height: 370px;
  overflow: hidden;
  margin: 0px; }
  .result img {
    width: 100%;
    height: 100%; }
  .result .sub {
    position: absolute;
    top: -100%;
    left: 0px;
    background: #c8675d;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0.8;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; }
    .result .sub h6 {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Roboto Slab';
      margin-top: 50px;
      margin-bottom: 25px;
      color: white; }
    .result .sub h4 {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Roboto Slab';
      margin-bottom: 50px;
      color: white; }
    .result .sub a.input {
      width: 180px;
      text-align: center;
      display: block;
      background-color: Transparent;
      padding: 10px 0px;
      color: white;
      border-radius: 5px;
      margin: 0px auto 0px auto;
      font-family: 'Roboto Slab';
      font-size: 14px;
      line-height: 28px;
      border: white solid 2px; }

.result:hover .sub {
  top: 0px; }

.snap:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.blog {
  min-height: 1080px;
  padding: 0;
  width: 100%; }

.block-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.tables {
  background-image: url("../images/table.jpg");
  height: 320px;
  width: 460px; }

.idea {
  min-height: 90px; }

.ideas {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #c0301c;
  line-height: 32px; }

.head-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto Slab';
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
  min-height: 320px;
  margin-left: 20px; }

.rubric {
  font-family: 'Roboto Slab';
  font-size: 13px;
  font-style: italic;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .rubric .red {
    color: #c0301c; }

.indent {
  font-size: 14px;
  font-family: 'Roboto Slab';
  max-width: 640px;
  padding-bottom: 20px; }

.oct {
  margin-right: 15px;
  width: 76px;
  height: 76px; }

.idea-Head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.again {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 1px;
  padding-bottom: 20px; }

.interface {
  background-image: url("../images/interface.jpg");
  height: 320px;
  width: 460px; }

.ideas-two {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #555555;
  line-height: 32px; }

.hand {
  padding: 0;
  min-height: 470px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.indenture {
  margin-top: 100px; }

.figure {
  margin-top: 50px; }

.facere {
  font-size: 18px;
  font-family: 'Roboto Slab';
  font-style: italic;
  line-height: 36px; }

.john {
  font-family: 'Roboto Slab';
  font-size: 20px;
  line-height: 40px; }

.my_circle {
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #dddddd;
  margin: 3px; }

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.my_circle_red {
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #c0301c;
  margin: 3px; }

.get {
  min-height: 665px;
  padding: 0;
  width: 100%; }

.all-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  line-height: 28px;
  font-weight: bold; }

.number {
  font-family: 'Roboto Slab';
  font-size: 12px;
  line-height: 24px; }

.form-control {
  margin: 10px;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Roboto Slab';
  padding-left: 5px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 5px;
  border-radius: 0;
  outline: none !important; }
  .form-control :focus {
    border-color: red;
    -webkit-box-shadow: 1px 1px 3px red;
    box-shadow: 1px 1px 3px red; }

.form-row {
  margin: 0; }

.col {
  padding: 0;
  outline: none !important; }
  .col :focus {
    border-color: red;
    -webkit-box-shadow: 1px 1px 3px red;
    box-shadow: 1px 1px 3px red; }

.btn .next {
  background-color: white;
  border: 1px solid black;
  background-color: Transparent; }
  .btn .next :hover {
    color: green; }

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 480px;
  padding: 0; }

.area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 480px;
  min-width: 200px;
  line-height: 24px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  font-family: 'Roboto Slab';
  outline: none !important; }
  .area :focus {
    border-color: red;
    -webkit-box-shadow: 1px 1px 3px red;
    box-shadow: 1px 1px 3px red; }

.textarea {
  margin: 10px;
  height: 70px;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 0; }

.footer {
  min-height: 310px;
  padding: 0;
  background-color: #c0301c;
  width: 100%; }

.bird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px; }

.docket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
  color: white;
  font-size: 12px; }

.birds {
  margin-left: 5px;
  margin-right: 5px; }
