@font-face {
  font-family: 'Roboto Lt';
  src: url("../fonts/3962.ttf"); }

@font-face {
  font-family: 'Roboto Bk';
  src: url("../fonts/3953.ttf"); }

@font-face {
  font-family: 'Roboto ';
  src: url("../fonts/3966.ttf"); }

@font-face {
  font-family: 'HammersmithOne';
  src: url("../fonts/HammersmithOne.ttf"); }

@font-face {
  font-family: 'Playfair Display';
  src: url("../fonts/PlayfairDisplay-Regular"); }

body {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.header {
  background-image: url("../img/header.jpg");
  max-width: 1600px;
  width: 100%;
  min-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container-fluid {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important; }

.header-buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 45px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px;
  width: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .buttons .button-header {
    height: 20px;
    font-size: 13px;
    font-family: 'Roboto Bk';
    line-height: 26px;
    text-align: center;
    padding-bottom: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer; }
    .buttons .button-header :hover {
      color: red;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.header-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 150px; }
  .header-headline .first-headline {
    color: white;
    font-size: 32px;
    line-height: 64px;
    font-family: 'Playfair Display';
    font-weight: bold;
    text-align: center; }
  .header-headline .header-text {
    font-family: 'Roboto Lt';
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 28px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px; }

.header-new-button {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px; }
  .header-new-button :hover {
    cursor: pointer; }
  .header-new-button .new-button {
    font-family: 'HammersmithOne';
    font-size: 16px;
    color: #00e0d0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border-color: #00e0d0;
    width: 160px;
    line-height: 32px;
    letter-spacing: 1px;
    height: 40px;
    margin-bottom: 30px; }
  .header-new-button :hover {
    cursor: pointer; }

.header-wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 15px; }

.header-wrapper > input {
  display: none; }

.header-wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 5px 0 8px;
  position: relative;
  width: 8px;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s; }

.header-wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4) {
  background: #00e0d0; }

.header-wrapper label:after {
  border: 2px solid #00e0d0;
  content: " ";
  display: block;
  height: 12px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 12px;
  border-radius: 50%; }

.our {
  max-width: 1600px;
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.our-content {
  margin-left: 70px; }

.content-headline {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 22px;
  line-height: 44px; }

.content-text {
  font-family: 'Roboto Lt';
  font-size: 14px;
  text-align: left;
  line-height: 28px; }

.video {
  max-width: 1600px;
  width: 100%;
  background-image: url("../img/video.jpg");
  min-height: 550px; }
  .video :hover {
    opacity: 1;
    background-image: url("../img/video2.jpg");
    cursor: pointer; }

.video-hover {
  width: 100%;
  min-height: 550px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  opacity: 0; }

.expertise {
  max-width: 1600px;
  width: 100%;
  min-height: 755px;
  display: inline-block;
  text-align: center; }

.expertise-head {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px; }

.expertise-text {
  font-family: 'Playfair Display';
  font-size: 14px;
  text-align: center;
  color: #78777b; }

.expertise-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.blocks-first {
  margin-top: 50px;
  max-height: 400px;
  max-width: 320px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.blocks-headline {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Roboto Bk'; }

.blocks-text {
  font-family: 'Roboto Lt';
  font-size: 14px;
  text-align: left;
  line-height: 28px;
  color: #78777b !important;
  text-align: center !important; }

.team {
  max-width: 1600px;
  width: 100%;
  min-height: 710px;
  background-image: url("../img/forest.jpg");
  color: white !important;
  display: inline-block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.team-head {
  margin-top: 50px;
  text-align: center; }

.team-headline {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 22px;
  line-height: 44px; }

.team-text {
  font-family: 'Playfair Display';
  font-size: 14px;
  line-height: 28px; }

.team-block {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.block-name {
  font-family: 'Roboto Bk';
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  margin-top: 15px; }

.block-profession {
  font-family: 'Roboto Lt';
  font-size: 13px;
  text-align: center;
  line-height: 26px; }

.block-first {
  max-height: 300px;
  max-width: 260px;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team-footer {
  text-align: center;
  margin-top: 50px; }

.works {
  max-width: 1600px;
  width: 100%;
  min-height: 740px; }

@media screen and (min-width: 750px) and (max-width: 968px) {
  .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .logo {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .header-headline {
    margin-top: 50px !important; }
  .header-new-button {
    margin-top: 5px !important; }
  .header-text {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .our {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .our-content {
    margin-left: 10px !important; }
  .team-block {
    margin-top: 50px; }
  .team-footer {
    margin-top: 10px !important; } }

@media screen and (min-width: 300px) and (max-width: 740px) {
  .container-fluid {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .header-text {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .logo {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .header-headline {
    margin-top: 50px !important; }
  .header-new-button {
    margin-top: 5px !important; }
  .our {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .our-content {
    margin-left: 10px !important; }
  .team-block {
    margin-top: 50px; }
  .team-footer {
    margin-top: 10px !important; } }
