@media screen and (min-width: 750px) and (max-width: 968px){
  .main{
    width: 100%;
    max-width: 968px;
    min-width: 750px;
    padding: 0;
  }
.container{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
  .menu-bar .creative .about .video .portfolio .ikon .who .jane-skills .plan .features .contacts .blog .hand .map .our .footer .red .col .col-1
  .col-10 .col-11 .col-12 .col-2 .col-3 .col-4 .col-5 .col-6 .col-7 .col-8 .col-9 .col-auto .col-lg
   .col-lg-1 .col-lg-10 .col-lg-11 .col-lg-12 .col-lg-2 .col-lg-3 .col-lg-4 .col-lg-5 .col-lg-6 .col-lg-7
    .col-lg-8 .col-lg-9 .col-lg-auto .col-md .col-md-1 .col-md-10 .col-md-11 .col-md-12 .col-md-2 .col-md-3
     .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-auto .col-sm .col-sm-1 .col-sm-10 .col-sm-11 .col-sm-12
   .col-sm-2 .col-sm-3 .col-sm-4 .col-sm-5 .col-sm-6 .col-sm-7 .col-sm-8 .col-sm-9 .col-sm-auto .col-xl
   .col-xl-1 .col-xl-10 .col-xl-11 .col-xl-12 .col-xl-2 .col-xl-3 .col-xl-4 .col-xl-5 .col-xl-6 .col-xl-7 .col-xl-8 .col-xl-9 .col-xl-auto {
   width: 100%;
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items:center;
  }
  .ikon{
    padding-left: 0;
    padding-right: 0;
  }
  .blockvideo{
    width: 50%;
    overflow: hidden;
  }
  .triangle{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
  .picture{
    width: 50%;
    overflow: hidden;

  }
  .red{
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio{
    padding-left: 0;
    padding-right: 0;
  }

  .block-first{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .block{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .blocktext{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  }
.allBlog{
  margin: 0;
}
.blocks-for-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan-blocks{
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.burger{
  margin-right: 0;
}
.logo{
  margin-left: 0;
}
.form{
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.format{
  max-width: 700px;

}
.form-row{
  width: 75%;
}
.rows{
  width: 75%;
}
.logotype{

  flex-direction: column;
  display: flex;
}
.theme{
  font-size: 15px;
}
}





@media screen and (min-width: 300px) and (max-width: 700px){
  .main{
    width: 100%;
    max-width: 968px;
    min-width: 750px;
    padding: 0;
  }
  .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .menu-bar .creative .about .video .portfolio .ikon .who .jane-skills .plan .features .contacts .blog .hand .map .our .footer .red .col .col-1
  .col-10 .col-11 .col-12 .col-2 .col-3 .col-4 .col-5 .col-6 .col-7 .col-8 .col-9 .col-auto .col-lg
   .col-lg-1 .col-lg-10 .col-lg-11 .col-lg-12 .col-lg-2 .col-lg-3 .col-lg-4 .col-lg-5 .col-lg-6 .col-lg-7
    .col-lg-8 .col-lg-9 .col-lg-auto .col-md .col-md-1 .col-md-10 .col-md-11 .col-md-12 .col-md-2 .col-md-3
     .col-md-4 .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-auto .col-sm .col-sm-1 .col-sm-10 .col-sm-11 .col-sm-12
   .col-sm-2 .col-sm-3 .col-sm-4 .col-sm-5 .col-sm-6 .col-sm-7 .col-sm-8 .col-sm-9 .col-sm-auto .col-xl
   .col-xl-1 .col-xl-10 .col-xl-11 .col-xl-12 .col-xl-2 .col-xl-3 .col-xl-4 .col-xl-5 .col-xl-6 .col-xl-7 .col-xl-8 .col-xl-9 .col-xl-auto {
   width: 100%;
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items:center;
  }


  .menu-bar{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .logo{
    margin-left: 0 !important;
  }
.burger{
  margin-right: 0 !important;
}
.second-head{
  margin-top: 50px !important;
  font-size: 36px !important;
}
.videoText{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.featurePictures{
  margin: 0 !important;
  max-width: 60px !important;
}
.featureNumbers{
  font-size: 20px !important;
}
.visuallyHidden{
  position: static;
}
.red{

}



  .ikon{
    padding-left: 0;
    padding-right: 0;
  }
  .blockvideo{
    width: 50%;
    overflow: hidden;
  }
  .triangle{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
  .video{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .picture{
    width: 50%;
    overflow: hidden;
  }
  .red{
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio{
    padding-left: 0;
    padding-right: 0;
  }
  .my-skills{
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .block-first{
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .block{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .blocktext{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  }
.allBlog{
  margin: 0;
}
.plan-blocks{
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.blocks-for-blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger{
  margin-right: 0;
}
.form{
  display: flex;
  flex-direction: column;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.logo{
  margin-left: 0;
}
.format{
  min-width: 300px;
  max-width: 700px;
  width: 100%;
}
.form-row{
  width: 75%;
}
.rows{
  width: 75%;
}
.logotype{

  flex-direction: column;
  display: flex;
}
.theme{
  font-size: 15px;
}
.my-skills{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
}
