body{
  font-family:'Times New Roman';
}
.general{
 width: 1800px;
  box-sizing: border-box;
  padding: 0 ;
  margin: 0 ;
}
.first{
  height: 950px;
  width: 1800px;
 background-image:url("../images/grass.jpg");/*картинка-фон*/
}
.iphone{
  margin-left: 872px;
  margin-top: 0px;
padding: 100px 200px 500px 20px;
z-index: 1;
position: relative;
}
.second{
  height: 540px;
width: 1800px;
}
.circle{
  max-width: 42px;             /*нарисовать именно такой не получилось*/
  max-height: 42px;
  float: left;
  padding: 56px 0 0 314px;
}
.take{
  color: #ffffff;
padding: 67px 0 0 362px;  /*отступы для надписи*/
    font-style: oblique;
    font-size: 20px;
    z-index: 1;
}
.start{
  width: 1800px;
  height: 541px;
  font-style: bold;
  font-size: 35px;
}
.lorem{
width: 555px;
height: 285px;
font-size: 14px;
text-align: left;
float: left;
line-height: 28px;
margin: 114px 0px 0px 312px;
}
.nemo{
  width: 555px;
  height: 176px;
text-align: left;
float: left;
margin: 242px 0px 145px 45px;
font-size: 14px;
line-height: 28px;
}
.third{
width: 1488px;
height: 552px;
margin: 0 0 0 312px;
}
.one{
  width: 744px;
  height: 552px;
float: left;
  margin: 0;
  padding: 0;
}
.two{
  width: 744px;
  height: 552px;
  float: left;
  margin: 0;
  padding: 0;
}
.twooneleft{
  background-color:#f5989d ;
  height: 256px;
  width: 372px;
  float: left;
}
.twoonelefft{
  background-color:#82ca9c ;
  height: 256px;
  width: 372px;
  float: left;
}
.twooneright{
  background-color: #615f7d;
  height: 256px;
  width: 372px;
  float: left;
}
  .onebottom{
    background-image: url("../images/sign.jpg");
    width: 744px;
    height: 256px;
    float: left;
  }
.twoonelefting{
  background-image: url("../images/our.jpg");
  height: 256px;
  width: 372px;
  float: left;
}
.twoonerright{
  background-color: #bd8cbf;
  height: 256px;
  width: 372px;
  float: left;
}
.twoonerightimg {
  background-image: url("../images/start.jpg");
  height: 256px;
  width: 372px;
  float: left;
}
.design{
  font-size: 30px;
  color: #ffffff;
  padding: 20px 0px 0px 41px;
  text-align: left;
  line-height: 60px;
}
.font{
  font-size: 13px;
  color:#ffffff;
  padding: 20px 0px 0px 41px;
  text-align: left;
  line-height: 26px;
}
.find{
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 0px 0px 41px;
  text-align: left;
line-height: 28px;
}
.heart{
  padding: 500px 0px 0px 700px;
  font-size: 18px;
  line-height: 180px;
}
.Heart{
  font-size: 18px;
  line-height: 180px;
  padding: 500px 0px 0px 330px;
}
.fourth{
  height: 527px;
  width: 1488px;
  margin: 0 0 0 312px;
}
.look{
  font-size: 35px;
  font-weight: bold;
  line-height: 70px;
}
.spase{
  width: 264px;
  height: 130px;
  float: left;
  padding: 0 36px 0 0;
}
.fontspase{
  font-size: 14px;
  line-height: 28px;
}
.web{
  font-size: 13px;
  font-weight: bold;
  line-height: 26px;
}
.fifth{
  height:874px;
  width: 1800px;
 background-image:url("../images/car.jpg");/*картинка-фон*/
}
.more{
  font-size: 60px;
  color: #ffffff;
  line-height: 70px;
}
.More{
  padding: 447px 1010px 0px 316px;
}
.ffont{
  font-size: 13px;
  color:#ffffff;
  padding: 0px 0px 0px 0px;
  text-align: left;
  line-height: 26px;
}
.ffind{
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
line-height: 28px;
}
.sixth{
  height: 527px;
  width: 1800px;
  background-color: #82ca9c;
}
.sspase{
  width: 364px;
  height: 130px;
  float: left;
  padding: 0 36px 0 0;
}
.lookkone{
  padding: 150px 316px 0 200px;
}
.seventh{
  width: 1800px;
  height: 630px;
}
.central{
  padding: 105px 0 0 316px;
}
.go{
  height: 330px;
  width: 512px;
float: left;
padding: 50px 0px 0px 56px;
margin: 0 100px 0 0;
}
.team{
  float: left;
}
.legasy{
  background-color: #e1e1e1;
  font-size: 11px;
  height: 26px;
  width: 78px;
  border: 0;
}
.goit{
  font-size: 30px;
  line-height: 60px;
}
.ipsum{
  font-size: 14px;
  line-height: 28px;
}
.byu{
  font-size: 13px;
  font-weight: bold;
  background-color:#82ca9c;
text-align: center;
width: 152px;
height: 45px;
color: #ffffff;
margin: 30px 0 0 0;
border: 0;
}
.most{
  background-color: #bd8cbf;
  font-size: 11px;
  height: 26px;
  width: auto;
  border: 0;
}
.icon{
  padding: 5px;
}
.shadow{
  box-shadow: 7px 7px 50px #e3e2d9;

}
.eigth{
  width: 1800px;
  height: 605px;
  background-color: #192431;
}
.eigthone{
  width: 555px;
  height: 285px;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  float: left;
  line-height: 28px;
  margin: 114px 0px 0px 312px;
}
.eigthtwo{
  width: 555px;
  height: 285px;
text-align: left;
float: left;
margin:114px 0px 0px 0px;
font-size: 14px;
color: #ffffff;
line-height: 28px;
padding: 0px 50px 50px 50px;
}
.getlo{
  color:#ffffff;
  font-size: 13px;
}
.resousers{
  padding: 15px 75px 15px 0px;
  float: left;
}
.password{
  width: 400px;
  height: 40px;
  float: left;
  border: 0;
}
.opasity{
  font-size: 12px;
opacity: 0.5;
}
.bot{
  height: 40px;
  width: 40px;
  background-color:#82ca9c;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  border: 0;
}
