.main{
min-width: 1650px;
width: 100%;
}
@font-face {
  font-family: 'Tahoma';
  src: url(../fonts/tahoma/tahoma.ttf);
}
@font-face {
  font-family: 'Times New Roman';
  src: url(../fonts/times/Times New Roman.ttf);
}
@font-face {
  font-family:'Lato';
  src:url(../fonts/lato/9623.ttf);
}
@font-face {
  font-family:'Lato Light';
  src:url(../fonts/lato/9625.ttf);
}
.main__header{
min-width: 1650px;
  display: flex;
  flex-direction: row;
  max-height: 90px;
  padding: 30px 0 30px 0;
}
.main__logo{
display: flex;
justify-content: center;
padding: 0px 300px 0 260px;
}
.main__button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  vertical-align: baseline;
  text-align: center;
}
.button{
  border:none;            /*убирается рамка при нажатии*/
outline: none;
  background: white;
   text-transform: uppercase;
  max-height: 20px;
  padding: 10 0 10 0;
  margin: 0;
font-size: 14px;
}
.button :hover{
  color:white;
  background: #ffbb42;
  margin: 0;
}
.button :active{
  color: #ffbb42;
}
.main__banner{
min-width: 1650px;
  background-color: #709dca;
  max-height: 590px;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 0px 0px 0 0px;
  color: white;
}
.main__h1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 100px 10px 15px 0px;
}
.main__text{
  text-align: center;
  font-size: 16px;
}
.main__request {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  text-align: left;
  width: 285px;
  max-height: 108px;
  padding:14px 10px 10px 14px ;
  border: 0;
}
.main__request_all{
  justify-content:space-around;
align-items: center;
margin: 0px 0px 0px 260px;
}
.main__laptop{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:70px 0 22px 0;
}
.main__request_task{
  font-family:'Times New Roman';
    background-color:#ffbb42;
   color: white;
  display: flex;
  font-size: 14px;
  justify-content: center;
  text-align:center;
  width: 210px;
  max-height: 108px;
  padding:0px 14px 0px 14px ;
  border: 0;
}
.main__request_task:hover{
  background-color: #a39a7a;
}

.main__service{
min-width: 1650px;
  height: 880px;
}
.main__circle_blue{
  border-radius: 16px;
  background-color: white;
  width: 16px;
  height: 16px;
  border: 3px solid #1da8dd;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
align-self: center;
margin: 0px 4px 0px 4px;
}
.main__circle_gray{
  border-radius: 16px;
  background-color: white;
  width: 16px;
  height: 16px;
  border: 3px solid #dedfe0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0px 4px 0px 4px;
}
.main__circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main__banner__service{
height: 1465px;
min-width: 1650px;
}
.main__h2{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 204px 10px 15px 0px;
}
.main__serviceour{
  min-width: 1190px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 90px 220px 110px 260px;
}
.main__serviceour_left{
  display: flex;
  flex-direction: column;
  margin:0 35px 0 0;
  justify-content: center;
  align-self: center;
}
.main__serviceour_right{
  display: flex;
  justify-content: center;
  flex-direction: column;
margin:  0 0 0 35px;
align-self: center;
}
.main__headline{
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family:'Times New Roman';
  margin: 0 0 0 64px;
}
.main__textone{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  flex-wrap: wrap;
  width: 470px;
  line-height: 26px;
  padding: 0 0 0 64px;
}
.main__image{
  display: flex;
  justify-content: flex-start;
  width: 62px;
}
.main__iheadline{
  display: flex;
align-content: space-between;
flex-direction: row;
align-items: center;
line-height: 60px;
}

.main__AboutUs{
  min-width: 1650px;
  height: 670px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.main__picture{
  max-width: 50%;
  width: 636px;
  height: 620px;
   background-image:url("../images/table.png");
   margin: 0 0 0 90px;
}
.main__about{
  width: 55.7%;
background-color: #ffc155;
height: 620px;
}
.main__h1one{
font-family: 'Times New Roman';
font-size: 30px;
font-weight: bold;
color: white;
padding: 163px 0 0 81px;
line-height: 60px;
}
.main__texttwo{
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  line-height: 26px;
  color: white;
  padding: 0px 0 0 81px;
}
.main__tasktwo_border{
 display: flex;
 justify-content: center;
 font-family: 'Times New Roman';
 background-color: #ffc155;
 color: white;
 font-size: 14px;
 text-align: center;
 width: 145px;
height: 45px;
border: 1px solid #e7ad48;
}
.main__tasktwo{
  display: flex;
  flex-direction: row;
  padding: 60px 0 0 81px;
}
.main__tasktwo_border:hover{
  background-color: #a39a7a;
}

.main__choos{
   min-width: 1650px;
  display: flex;
  flex-direction: column;
  height: 895px;
  background-color: #e7edf3;
}
.main__headlinetwo{
  font-family: 'Times New Roman';
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  padding: 133px 0 0 0;
}
.main__textthree{
  display: flex;
  justify-content: center;
  font-size: 18px;
  flex-wrap: wrap;
  line-height: 76px;
  padding: 0 0 50px 0;
  font-family: 'Times New Roman';
}
.main__inscriptions{
  display: flex;
  justify-content: center;
  padding: 133px 0 50px 0;
}
.main__blocks{
  display: flex;
  justify-content: center;
  align-content: center;
}
.main__extreme{
  background-color: white;
  width: 385px;
  height: 440px;
}
.main__extreme:hover{
background-color: #709dca;
color: white;
  transform: scale(1.1);
}
.main__plan{
  justify-content: center;
  text-align: center;
  padding:57px 0 0 0;
  font-family: 'Times New Roman';
  font-size: 25px;
  line-height: 50px;
}

.main__price{
font-family:'Lato';
  display:flex;
  justify-content: center;
  color: #ffbb42;
  font-size: 60px;
  font-weight: bold;
}
.main__extremetext{
display: flex;
justify-content: center;
flex-direction: row;
}
.main__extremeusd{
  font-size: 35px;
  display:flex;
  justify-content: center;
  color: #ffbb42;
  font-weight: bold;
}
.main__per{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family:'Lato';
  line-height: 20px;
}
.main__blocks_hr{
   width: 330px;
   height: 2px;
   border: none;
   background-color: #8eb8e2;
   color: #8eb8e2;
 }
.main__account{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.main__blockstask{
  font-family:'Lato';
    background-color:#ffbb42;
   color: white;
  display: flex;
  font-size: 14px;
justify-content: center;
  text-align:center;
  width: 130px;
  height: 42px;
  border: 0;
  padding: 0 0px 0 0;
}
.main__blockstask:hover{
  background-color: #a39a7a;
}
.main__accounttask{
  display: flex;
  justify-content: center;
}


.main__work{
  min-width: 1650px;
  height: 860px;
}
.main__HowItWorks{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.main__Howh1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Times New Roman';
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  line-height: 60px;
  padding: 155px 0 0 0;
}
.main__Howh2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Times New Roman';
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding: 50px 0 0 0;
}
.main__lorem{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Times New Roman';
  font-size: 18px;
  justify-content: center;
  line-height: 20px;
  padding: 0 0 70px  0px;
}

.main__loremtwo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
font-family: 'Times New Roman';
  font-size: 18px;
  justify-content: center;
  line-height: 36px;
  text-align: center;
    padding: 30px 35px 0px  35px;
}
.main__arrow{
display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.main__texttask{
  font-family:'Lato';
    background-color:#ffbb42;
   color: white;
  display: flex;
  font-size: 14px;
justify-content: center;
  text-align:center;
  width: 165px;
  height: 48px;
  border: 0;
  padding: 0 0px 0 0px;
}
.main__Howtask{
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px  0px;
}

.main__clients{
  min-width: 1650px;
  height: 905px;
background-color: #ffc155;
}
.main__h1three{
  display: flex;
  font-family: 'Lato';
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  line-height: 60px;
  padding: 140px 0 0 0;
  color: white;
}
.main__loremthree{
  display: flex;
  font-family: 'Lato';
  font-size: 16px;
  justify-content: center;
  line-height: 20px;
  padding: 0 0 60px  0px;
  color: white;
}
.main__blocksfirst{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main__blocksname{
  display: flex;
  line-height: 26px;
  background-color: white;
  align-items: center;
  height: 240px;
  width: 565px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #ffc155;
}
.main__name{
  color: #f6772c;
  font-size: 14px;
  font-family: 'Lato';
  text-align: center;
}
.main__profesion{
  color: #b8c2c6;
  font-size: 14px;
  font-family: 'Lato';
}
.main__blocksphoto{
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 60px;
margin: 35px  35px 55px 35px ;
}
.main__photo_feedback{
  font-size: 13px;
  font-family: 'Times New Roman';
  padding: 10px;
}

 .main__newsletter{
   min-width: 1650px;
   height: 945px;
 }
 .main__newh1{
   display: flex;
   font-family: 'Times New Roman';
   font-size: 30px;
   font-weight: bold;
   justify-content: center;
   line-height: 60px;
   padding: 130px 0 0 0;
 }
 .main__newslorem{
   display: flex;
   font-family: 'Times New Roman';
   font-size: 16px;
   justify-content: center;
   line-height: 20px;
   padding: 0 0 60px  0px;
 }
 .main__newrequest {
   display: flex;
   justify-content: center;
   text-align: left;
   width: 388px;
   height: 42px;
   margin-left: 6px;
   margin-right: 6px;
   border: 1px solid #cbcbcb;
   padding: 0;
 }


 .main__newsletteruser {
   display: flex;
   justify-content: center;
   text-align: left;
   width: 305px;
   height: 42px;
   margin-left: 6px;
   margin-right: 6px;
   border: 1px solid #cbcbcb;
   padding: 0;
 }

 .main__newrequestall{
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items: center;
   height: 70px;
 }
 .main__newtask{
   font-family:'Times New Roman';
     background-color:#ffbb42;
    color: white;
   display: flex;
   font-size: 14px;
    justify-content: center;
   text-align:center;
   width: 218px;
   height: 45px;
   margin: 0px 6px 0px 6px;
   border: 0;
   padding: 0;
 }
 .main__newtask:hover{
   background-color: #a39a7a;
 }
.main__map{
display: flex;
flex-direction: column;
   background-image:url("../images/map.png");
   width: 1170px;
   height: 610px;
   justify-content: center;
   align-items: center;
   align-self: center;
   align-content: flex-end;
   margin-left: 240px;
}
.main__requestmap{
display: flex;
justify-content: center;
align-content: center;
}
.main__adress{
  background-image:url("../images/adress.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  text-align: center;
}

.adress_text{
  font-family: 'Times New Roman';
  font-size: 15px;
  color: white;
  line-height: 30px;
}
.adress_street{
  font-family: 'Times New Roman';
  font-size: 13px;
  color: #aeb7ba;
  line-height: 26px;
}

.adress_email{
  font-family: 'Times New Roman';
  font-size: 13px;
  color: #ffbb42;
}
.main__newlogo{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__footer{
  min-width: 1650px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  padding: 63px 0 30px 0;
}
.main__footerbutton{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: baseline;
  text-align: center;
}
.main__number{
min-width: 1650px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100px;
  font-family: 'Lato';
  font-size: 23px;
  font-weight: bold;
  padding: 0px 0 0px 0;
}
.main__number_phone{
  width: 14px;
  height: 23px;
}
.main__badge{
  min-width: 1650px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
.main__footerbadge{
  width: 18px;
  height: 18px;
  padding: 5px;
}
.main__copyright{
  min-width: 1650px;
  height: 45px;
  background-color: #709dca;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 13px;
  font-family: 'Times New Roman';
}
