body{
  width: 100%;
 height: 100%;
  background-image: url("./first/images_for_all/stripe2.png");
  padding: 0;
  margin: 100px 0 0 0;
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

}

.text-effect {
  text-shadow:0 0 25px #d9a036;
  font-size: 30px;
  text-align: center;

  color:#d9a036;
  font-family: Plateia;
  text-overflow: auto;





}
.back{
background-color: #555555;
padding: 10px;
margin: 0px 0px 0 0;

align-content: center;
border-radius: 25px;
box-shadow: 0 0 70px #d9a036;
opacity: 1;
min-width: 10%;
opacity: 0.9;


}
.bio {
opacity: 0.5;
padding: 15px;

}



@font-face {
font-family: Plateia;
src: url(./fonts/13153.ttf);
}
