
.name{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  text-align: center;
  margin: auto;  /* форма фотки*/
}
.name2{
  height: auto;
  width: auto;
  text-align: center;
  margin: auto;  /*делаем формму тексту под фоткой енотика*/
}
.RACON{
  font-size: 30px;

}
.ROCKET{
  font-weight: 900;
}
.icon{
  height: 40px;
  width: 40px;/*размер всех иконок*/
}
.PROFILE{
  margin: 5px; /*отступ*/
}


.first{

width: 50%;  /*50% экрана*/
height: auto;
float: left;
position: relative;

}
.second{
  width: 50%;
  height: auto;
  float: left;
  position: relative;

}
.later{  /*форма подзаголовков*/
  color: #34d0f9;
  font-weight: bold;
  font-size: 30px;
}
.address{
  color: #34d0f9;
  font-weight: bold;
  font-size: 20px;
}
/*прокрутка автоматом*/
.SKILLS{

  font-size: 20px;
}
.experience{
  font-size: 25px;
}
